$body-bg: rgb(8, 17, 50);
$main-color: #ffb20d;
$txt-color: #fff;

$white: rgb(236, 236, 236);
$black: rgb(3, 6, 21);

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;
